
<fieldset class="row" ng-repeat="(key, value) in model">
  <div class="col-xs-5">
    <input type="text" value="{{key}}" class="form-control" readonly />
  </div>
  <div class="col-xs-5">
    <div ng-repeat="fields in textFields">
      <input type="text"
              ng-model="value[fields]"
              placeholder="{{fields}}"
              class="form-control" />
    </div>
  </div>
  <div class="col-xs-2">
    <p class="form-control-static">
      <a href="" class="btn btn-danger btn-xs"
        ng-click="rmProvider(key)"
      >
        <span class="fa fa-trash"></span>
        <span class="sr-only">remove provider</span>
      </a>
    </p>
  </div>

</fieldset>

<p class="form-control-static">
  <a href="" class="btn btn-info btn-xs"
    bs-dropdown="dropDownValues"
    ng-disabled="!dropDownValues.length"
  >
    <span class="fa fa-plus"></span>
    Add Provider
  </a>
</p>
