<form name="templateForm" class="form-horizontal" role="form" ng-submit="doSubmit(model)" novalidate>

  <div ng-model="tabs.activeTab" bs-tabs>

    <fieldset data-title="{{tab.title}}" ng-repeat="tab in tabs" bs-pane>

      <div ng-include="'/partials/templates/'+tab.partial"></div>

      <hr />

      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">

          <button type="button" class="btn btn-sm btn-default pull-right" 
            ng-disabled="templateForm.$invalid"
            ng-hide="$last"
            ng-click="nextTab()">
              Next
              <span class="fa fa-long-arrow-right"></span>
          </button>

          <button type="submit" class="btn btn-primary" 
            ng-show="$last"
            ng-disabled="submitting || templateForm.$invalid">
              <span class="fa fa-save"></span>
              <span ng-show="editing">Update</span>
              <span ng-hide="editing">Create</span>
          </button>

        </div>
      </div>

    </fieldset>

  </div>

</form>

<pre>{{model | json}}</pre>