<ul>
  <li><a class="nav-link nav-dash btn-spl btn-default secondary-nav-home" href="/providers">Home</a></li>
  <li>
    <div class="dropdown" id="providers-list">
      <a data-toggle="dropdown" class="btn-spl btn-default nav-dash secondary-nav-dropdown">Providers <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% for item in providers %}
          <li><a class="list-types" href="/providers/provider/{{item.name}}/#/edit">{{ item.name }}</a></li>
        {% endfor %}
        {% if not providers or not providers.length %}
          <li><a>No providers</a></li>
        {% endif %}
      </ul>
    </div>
  </li>
  <li><a class="nav-link nav-dash btn-spl btn-default secondary-nav-create" href="/providers/create">Create</a></li>
</ul>
