<ul>
  <li><a class="nav-link nav-dash btn-spl btn-default secondary-nav-home" href="/hardwaretypes">Home</a></li>
  <li>
    <div class="dropdown">
      <a data-toggle="dropdown" class="btn-spl btn-default nav-dash secondary-nav-dropdown" href="#">Hardware types <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% for item in hardwaretypes %}
          <li><a class="list-types" href="/hardwaretypes/hardwaretype/{{item.name}}">{{ item.name }}</a></li>
        {% endfor %}
        {% if not hardwaretypes or not hardwaretypes.length %}
          <li><a>No hardware types</a></li>
        {% endif %}
      </ul>
    </div>
  </li>
  <li><a class="nav-link nav-dash btn-spl btn-default secondary-nav-create" href="/hardwaretypes/create">Create</a></li>
</ul>
