.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks
.DS_Store

# Bundler
Gemfile.lock
.bundle/*

.kitchen/
.kitchen.local.yml

*.iml
.idea/

/server/target/
/server/build/
/ui/client-built/
/web-app/client-built/
/ui/build/
/build
/integration-testing/target
.gradle

# Cookbooks tarball
/provisioner/daemon/plugins/automators/chef_automator/chef_automator/*.tar.gz
/provisioner/daemon/plugins/automators/shell_automator/*.tar.gz

# Chef client validator
/provisioner/daemon/plugins/automators/shell_automator/scripts/validation.pem

# Chef testing files
Berksfile
Vagrantfile
chefignore

# Environment
/.bash*
/.chef
/.gem
/.lesshst
/.m2
/.profile
/.ssh
/.viminfo
