npm-debug.log
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks
.DS_Store
*.py[co]
*.egg
PKG-INFO
build/
target/

# Bundler
Gemfile.lock
.bundle/*

# Coverage reports
coverage

.kitchen/
.kitchen.local.yml

*.iml
.idea/

/server/target/
/server/build/
/server/derby.log
/ui/client-built/
/web-app/client-built/
/ui/build/
/build
/integration-testing/target
.gradle
/server/derby*

# Cookbooks tarball
/provisioner/daemon/plugins/automators/chef_automator/chef_automator/*.tar.gz
/provisioner/daemon/plugins/automators/shell_automator/*.tar.gz

# Chef client validator
/provisioner/daemon/plugins/automators/shell_automator/scripts/validation.pem

# Chef testing files
Berksfile
Vagrantfile
chefignore

# Environment
/.bash*
/.chef
/.gem
/.lesshst
/.m2
/.profile
/.ssh
/.viminfo

