<ul>
  <li><a class="nav-link nav-dash" id="nav-overview" href="/services">Home</a></li>
  <li>
    <div class="dropdown">
      <a data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% for item in services %}
          <li><a class="list-types" href="/services/service/{{item.name}}">{{ item.name }}</a></li>
        {% endfor %}
        {% if not services or not services.length %}
          <li><a>No services</a></li>
        {% endif %}
      </ul>
    </div>
  </li>
  <li><a class="nav-link nav-dash" id="nav-overview" href="/services/create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create a service</a></li>
  {% include "partials/menu-login-item.html" %}
</ul>
