<form name="hardwareForm" class="form-horizontal hardwareTypeForm" role="form" ng-submit="doSubmit(model)" novalidate>

    <div class="form-group">
        <label for="inputHardwareName" class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
            <input id="inputHardwareName" type="text" name="name" class="form-control"
                   placeholder="Name"
                   my-focus="inputHardwareName"
                   ng-readonly="editing"
                   ng-pattern="/^[\w\.\-]+$/"
                   ng-model="model.name" required/>
        </div>
    </div>
    <div class="form-group">
        <label for="inputHardwareDescription" class="col-xs-2 control-label">Description</label>
        <div class="col-xs-10">
            <textarea id="inputHardwareDescription" class="form-control" name="config" rows="4"
                      ng-model="model.description"
                    ></textarea>
        </div>
    </div>

    <div class="form-group list-of-providers">
        <label class="col-xs-2 control-label">Providers</label>
        <div class="col-xs-10" ng-hide="editing">
            <drop-down-text-combo
                    ng-repeat="(pkey, pvalue) in providerMapShadow"
                    text-value="pvalue.flavor"
                    drop-down-value="pvalue.name"
                    drop-down-options="allProviders"
                    drop-down-disable="false">

            </drop-down-text-combo>
            <div class="col-xs-4" >
                <button ng-hide="editing"
                        class="btn btn-default"
                        ng-click="addProviderHandlerOnCreate($event)">
                    + Providers
                </button>
            </div>
        </div>
        <div class="col-xs-10" ng-show="editing">

            <drop-down-text-combo
                    ng-repeat="(pkey, pvalue) in providerMapShadow"
                    text-value="pvalue.flavor"
                    drop-down-value="pvalue.name"
                    drop-down-options="allProviders"
                    drop-down-disable="true">

            </drop-down-text-combo>
            <drop-down-text-combo
                    ng-repeat="(pkey, pvalue) in providerMapShadowNew"
                    text-value="pvalue.flavor"
                    drop-down-value="pvalue.name"
                    drop-down-options="allProviders"
                    drop-down-disable="false"
                    ></drop-down-text-combo>
            <div class="row">
              <div class="col-xs-6" >
                  <button ng-show="editing"
                          class="btn btn-default hardware-create-section"
                          ng-click="addProviderHandlerOnEdit($event)">
                      + Providers
                  </button>
              </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2"></label>
        <div class="col-xs-10">
            <button type="submit" class="btn btn-primary"
                ng-disabled="submitting || hardwareForm.$invalid">
            <span class="fa fa-save"></span>
            <span ng-show="{{editing}}">Update</span>
            <span ng-hide="{{editing}}">Create</span>
        </button>
        </div>
    </div>

</form>
