<ul class="list-unstyled coopr-list-striped">


  <li><div class="row">
    <div class="col-xs-3">
      <label>Name</label>
    </div>
    <div class="col-xs-9">
      <div class="btn-group btn-group-xs pull-right" ng-show="model.status!='terminated'">
        <a ui-sref="^.edit({id: model.id})"
          class="btn btn-primary">
            <span class="fa fa-edit"></span>
            Reconfigure
        </a>
        <a href="" ng-click="myConfirm()" my-confirmable="doDelete(model)" 
          class="btn btn-danger">
            <span class="fa fa-trash"></span>
            Delete
        </a>
      </div>

      <strong>
        {{model.name}}
      </strong>
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Status</label>
    </div>
    <div class="col-xs-9">
      <my-status-label data-value="model.status" />
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Creation time</label>
    </div>
    <div class="col-xs-9">
      {{model.createTime | date:'short'}}
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Expiry time</label>
    </div>
    <div class="col-xs-9">
      {{model.expireTime ? (model.expireTime | date:'short') : 'never'}}
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Action</label>
    </div>
    <div class="col-xs-9">
      <em>{{model.progress.action}}</em>
      <my-status-label data-value="model.progress.actionstatus" />
    </div>
  </div></li>

  <li ng-show="model.status!='terminated'"><div class="row">
    <div class="col-xs-3">
      <label>Progress</label>
    </div>
    <div class="col-xs-9">
      <my-progress data-type="bar" 
          data-add-cls="{{{
            'pending': 'warning',
            'running': 'warning'
          }[model.status]}}"
          data-value="model.progress.stepscompleted"
          data-max="model.progress.stepstotal" />
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Provider</label>
    </div>
    <div class="col-xs-9">
      <em>{{model.provider.name}}</em> ({{model.provider.description}})
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Template</label>
    </div>
    <div class="col-xs-9">
      <em>{{model.clusterTemplate.name}}</em> ({{model.clusterTemplate.description}})
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Services</label>
    </div>
    <div class="col-xs-9">
      <my-service-picker data-model="model.services" data-readonly="true" />
    </div>
  </div></li>
</ul>
