<ul class="list-unstyled coopr-list-striped">


  <li><div class="row">
    <div class="col-xs-3">
      <label>Name</label>
    </div>
    <div class="col-xs-9">
      <div class="pull-right" ng-show="model.status!='terminated'">
        <a ui-sref="^.edit({id: model.id})"
          class="btn btn-default btn-xs">
            <span class="fa fa-edit"></span>
            Reconfigure
        </a>
        <a href="" ng-click="myConfirm()" my-confirmable="doDelete(model)" 
          class="btn btn-danger btn-xs">
            <span class="fa fa-trash"></span>
            Delete
        </a>
      </div>

      <strong>
        {{model.name}}
      </strong>
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Status</label>
    </div>
    <div class="col-xs-9">
      <my-status-label data-value="model.status" />
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Creation time</label>
    </div>
    <div class="col-xs-9">
      {{model.createTime | date:'short'}}
      <small am-time-ago="model.createTime"></small>
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Expiry time</label>
    </div>
    <div class="col-xs-9">
      <div ng-show="model.expireTime">
        {{model.expireTime | date:'short'}}
        <small am-time-ago="model.expireTime"></small>
      </div>
      <div ng-hide="model.expireTime">
        <em>never</em>
      </div>
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Action</label>
    </div>
    <div class="col-xs-9">
      <code>{{model.progress.action}}</code>
      <my-status-label data-value="model.progress.actionstatus"></my-status-label>
      <small ng-show="model.message">
        <br><br><mark>{{model.message}}</mark>
      </small>
    </div>
  </div></li>

  <li ng-if="model.status!='terminated'"><div class="row">
    <div class="col-xs-3">
      <label>Progress</label>
    </div>
    <div class="col-xs-9">
      <my-progress 
        data-type="bar" 
        data-add-cls="{{{
          'pending': 'warning',
          'running': 'warning'
        }[model.status]}}"
        data-value="model.progress.stepscompleted"
        data-max="model.progress.stepstotal"
      ></my-progress>
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Provider</label>
    </div>
    <div class="col-xs-9">
      {{model.provider.description || model.provider.name}}
    </div>
  </div></li>

  <li><div class="row">
    <div class="col-xs-3">
      <label>Template</label>
    </div>
    <div class="col-xs-9">
      {{model.clusterTemplate.description || model.clusterTemplate.name}}
    </div>
  </div></li>

  <li ng-if="model.status=='active'"><div class="row">
    <div class="col-xs-3">
      <label>Services</label>
    </div>
    <div class="col-xs-9">
      <my-service-picker 
        data-model="model.services"
        data-cluster-id="model.id"
      ></my-service-picker>
    </div>
  </div>
  <div class="row" ng-show="availableServices.length">
    <div class="col-xs-9 col-xs-offset-3">
      <hr>
      <p>
        <my-service-picker 
          data-model="additionalServices"
          data-available="availableServices"
          data-allow-rm="'true'"
        ></my-service-picker>
      </p>
      <p ng-show="additionalServices.length" class="am-fade-and-slide-top">
        <a class="btn btn-primary" href="" ng-click="doSubmitServices(additionalServices)">
          <span class="fa fa-save"></span> submit additional services
        </a>
      </p>
    </div>
  </div></li>

</ul>
