{% extends 'index.html' %}

{% block title %}{% if clustertemplateId %} Edit template: {{clustertemplateId}} {% else %}Create a template{% endif %}{% endblock %}

{% block headscript %}
<script src="/static/third_party/angular/angular.min.js" type="text/javascript"></script>
<script src="/static/js/createclustertemplate.js" type="text/javascript"></script>
{% endblock %}

{% block header %}
    {% include "page-header.html" %}
{% endblock %}

{% block content %}
  <div ng-app="templateview">
    <div id="content-body" ng-controller="TemplateCtrl">
      <div id="title">
        <div class="pull-right">
          <div id="global">
            {% include "clustertemplates/topmenu.html" %}
          </div>
        </div>
        <div style="clear: both"></div>
      </div>

    <div id="panels">

      <div class="panel spl-panel" style="clear: both;">
        <div class="panel-head spl-panel-head clearfix">
          <div class="panel-title spl-panel-title"><h4 class="pull-left">{% if clustertemplateId %} Edit template: {{clustertemplateId}} {% else %}Create a template{% endif %}</h4>
          <div class="pull-right">
            {% if clustertemplateId %}
            <form role="form" method="POST" action="/clustertemplates/delete/{{clustertemplateId}}" class="clustertemplate-delete-form inline-display" ng-submit="deleteTemplate($event)">
              <input type="hidden" value="{{clustertemplateId}}" name="name" id="inputName" />
              <button type="submit" class="btn-spl btn-delete"></button>
            </form>
            {% endif %}
          </div>
          </div>
        </div>

        <div class="panel-body spl-panel-body">
          <form class="form-horizontal" role="form" action="{% if clustertemplateId %}/clustertemplates/update{% else %}/clustertemplates/create{% endif %}" id="create-clustertemplate-form" ng-submit="submitData($event)">
          <div class="tabbed-pages">
            <ul id="sectionTab" class="nav nav-tabs">
              <li class="nav-tab-general active"><a href="#general" data-toggle="tab">General</a></li>
              <li class="nav-tab-compatibility"><a href="#compatibility" data-toggle="tab">Compatibility</a></li>
              <li class="nav-tab-defaults"><a href="#defaults" data-toggle="tab">Defaults</a></li>
              <li class="nav-tab-constraints"><a href="#constraints" data-toggle="tab">Constraints</a></li>
            </ul>
            <div id="sectionTabContent" class="tab-content">
              <div class="tab-pane panel-body fade active in" id="general">
                <div class="form-group">
                  <label for="inputName" class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="clustertemplate.name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputDescription" name="inputDescription" placeholder="Description" ng-model="clustertemplate.description">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputLeaseDurationInitial" class="col-sm-2 control-label">Lease Duration</label>
                  <div class="col-sm-8">
                    <table class="" id="lease-duration-table">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Days</th>
                            <th>Hours</th>
                            <th>Minutes</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Initial</td>
                            <td><input type="text" class="number-input initial-days" ng-model="leaseDuration.initial.days"/></td>
                            <td><input type="text" class="number-input initial-hours" ng-model="leaseDuration.initial.hours"/></td>
                            <td><input type="text" class="number-input intial-minutes" ng-model="leaseDuration.initial.minutes"/></td>
                          </tr>
                          <tr>
                            <td>Max</td>
                            <td><input type="text" class="number-input max-days" ng-model="leaseDuration.max.days"/></td>
                            <td><input type="text" class="number-input max-hours" ng-model="leaseDuration.max.hours"/></td>
                            <td><input type="text" class="number-input max-minutes" ng-model="leaseDuration.max.minutes"/></td>
                          </tr>
                          <tr>
                            <td>Step</td>
                            <td><input type="text" class="number-input step-days" ng-model="leaseDuration.step.days"/></td>
                            <td><input type="text" class="number-input step-hours" ng-model="leaseDuration.step.hours"/></td>
                            <td><input type="text" class="number-input step-minutes" ng-model="leaseDuration.step.minutes"/></td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-8">
                    <button type="button" class="btn-spl btn-default next-tab-button" ng-click="nextTab()">Next</button>
                  </div>
                </div>
              </div>
              <div class="tab-pane panel-body spl-panel-body fade" id="defaults">
                <div class="form-group">
                  <div class="">
                    <div class="form-group">
                      <label for="inputProvider" class="col-sm-2 control-label">Provider</label>
                      <div class="col-sm-8">
                        <select class="form-control provider-select" name="inputProvider" ng-model="clustertemplate.defaults.provider" ng-options="item for item in providers">
                           <option></option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputHardwaretype" class="col-sm-2 control-label">Hardware type</label>
                      <div class="col-sm-8">
                        <select class="form-control hardwaretype-select" name="inputHardwaretype" ng-model="clustertemplate.defaults.hardwaretype" ng-options="item for item in clustertemplate.compatibility.hardwaretypes">
                           <option></option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputImagetype" class="col-sm-2 control-label">Image type</label>
                      <div class="col-sm-8">
                        <select class="form-control imagetype-select" name="inputImagetype" ng-model="clustertemplate.defaults.imagetype" ng-options="item for item in clustertemplate.compatibility.imagetypes">
                           <option></option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDnsSuffix" class="col-sm-2 control-label">DNS Suffix</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputDnsSuffix" placeholder="DNS Suffix" ng-model="clustertemplate.defaults.dnsSuffix">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Config <br />
                        <br />
                        <div type="button" id="is-json-valid" class="btn-spl btn-default valid-json-icon">Format</div>
                      </label>
                      <div class="col-sm-8">
                        <textarea class="form-control" rows="5" id="inputConfig" ng-model="defaultConfig"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputDefaultServices" class="col-sm-2 control-label">Default services</label>
                      <div class="col-sm-4">
                        <select class="form-control service-select" name="inputService" ng-model="defaultServiceEntry" ng-options="item for item in clustertemplate.compatibility.services">
                           <option selected="selected"></option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <button type="button" class="btn-spl btn-default inline-display add-service-btn" data-context="default-service" ng-click="addEntry(defaultServiceEntry, clustertemplate.defaults.services)">Add service</button>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-8 default-service-entries">
                          <div class="form-control" ng-repeat="item in clustertemplate.defaults.services">
                            <span class="service-name default-service-entry">[[item]]</span>
                            <span class="service-delete pointer-cursor right-float glyphicon glyphicon-minus" ng-click="removeEntry(item, clustertemplate.defaults.services)"></span>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-8">
                        <button type="button" class="btn-spl btn-default next-tab-button" ng-click="nextTab()">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane panel-body spl-panel-body fade" id="compatibility">
                <div class="">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Services</label>
                    <div class="col-sm-4">
                      <select class="form-control service-select" name="inputService" ng-model="allowedServiceEntry" ng-options="item for item in services">
                         <option selected="selected"></option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <button type="button" class="btn-spl btn-default inline-display add-service-btn" data-context="allowed-service" ng-click="addEntry(allowedServiceEntry, clustertemplate.compatibility.services)">Add service</button>
                    </div>
                  </div>
                  <br />
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8 allowed-service-entries">
                      <div class="form-control" ng-repeat="item in clustertemplate.compatibility.services">
                        <span class="service-name default-service-entry">[[item]]</span>
                        <span class="service-delete pointer-cursor right-float glyphicon glyphicon-minus" ng-click="removeEntry(item, clustertemplate.compatibility.services)"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Hardware types</label>
                    <div class="col-sm-4">
                      <select class="form-control hardwaretype-select" id="allowed-hardwaretype-select" ng-model="allowedHardwareType" ng-options="item for item in hardwaretypes">
                         <option selected="selected"></option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <button type="button" class="btn-spl btn-default inline-display add-hardwaretype-btn" data-context="allowed-hardwaretype" ng-click="addEntry(allowedHardwareType, clustertemplate.compatibility.hardwaretypes)">Add hardware type</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8 allowed-hardwaretype-entries">
                      <div class="form-control" ng-repeat="item in clustertemplate.compatibility.hardwaretypes">
                        <span class="service-name default-service-entry">[[item]]</span>
                        <span class="service-delete pointer-cursor right-float glyphicon glyphicon-minus" ng-click="removeEntry(item, clustertemplate.compatibility.hardwaretypes)"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Image types</label>
                    <div class="col-sm-4">
                      <select class="form-control imagetype-select" id="allowed-imagetype-select" ng-model="allowedImageType" ng-options="item for item in imagetypes">
                         <option selected="selected"></option>
                      </select>
                    </div>
                    <div class="col-sm-4">
                      <button type="button" class="btn-spl btn-default inline-display add-imagetype-btn" data-context="allowed-imagetype" ng-click="addEntry(allowedImageType, clustertemplate.compatibility.imagetypes)">Add image type</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8 allowed-imagetype-entries">
                      <div class="form-control" ng-repeat="item in clustertemplate.compatibility.imagetypes">
                        <span class="service-name default-service-entry">[[item]]</span>
                        <span class="service-delete pointer-cursor right-float glyphicon glyphicon-minus" ng-click="removeEntry(item, clustertemplate.compatibility.imagetypes)"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                      <button type="button" class="btn-spl btn-default next-tab-button" ng-click="nextTab()">Next</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane panel-body spl-panel-body fade" id="constraints">
                <!-- Must coexist modal -->
                <div class="modal fade" id="must-coexist-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add group</h4>
                      </div>
                      <div class="modal-body">
                        <div class="padded-interior">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Must coexist</label>
                            <div class="col-sm-4">
                              <select class="form-control must-coexist-select" name="inputService" ng-model="mustcoexistSelect" ng-options="item for item in services">
                                 <option selected="selected"></option>
                              </select>
                            </div>
                            <div class="col-sm-4">
                              <button type="button" class="btn-spl btn-default inline-display add-service-btn" data-context="must-coexist" ng-click="addEntry(mustcoexistSelect, currentConstraints.mustcoexistGroup)">Add service</button>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8 must-coexist-entries">
                              <div class="form-control" ng-repeat="item in currentConstraints.mustcoexistGroup">
                                <span class="service-name default-service-entry">[[item]]</span>
                                <span class="service-delete pointer-cursor right-float glyphicon glyphicon-minus" ng-click="removeEntry(item, currentConstraints.mustcoexistGroup)"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn-spl btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn-spl btn-info inline-display add-group-btn" data-context="must-coexist" data-dismiss="modal" ng-click="addEntry(currentConstraints.mustcoexistGroup, clustertemplate.constraints.layout.mustcoexist)">Add group</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- Cant coexist modal -->
                <div class="modal fade" id="cant-coexist-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add group</h4>
                      </div>
                      <div class="modal-body">
                        <div class="padded-interior">
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Can't coexist</label>
                            <div class="col-sm-4">
                              <select class="form-control cant-coexist-select" name="inputService" ng-model="cantcoexistSelect" ng-options="item for item in services">
                                 <option selected="selected"></option>
                              </select>
                            </div>
                            <div class="col-sm-4">
                              <button type="button" class="btn-spl btn-default inline-display add-service-btn" data-context="cant-coexist" ng-click="addEntry(cantcoexistSelect, currentConstraints.cantcoexistGroup)">Add service</button>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8 cant-coexist-entries">
                              <div class="form-control" ng-repeat="item in currentConstraints.cantcoexistGroup">
                                <span class="service-name default-service-entry">[[item]]</span>
                                <span class="service-delete pointer-cursor right-float glyphicon glyphicon-minus" ng-click="removeEntry(item, currentConstraints.cantcoexistGroup)"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn-spl btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn-spl btn-info inline-display add-group-btn" data-context="cant-coexist" data-dismiss="modal" ng-click="addEntry(currentConstraints.cantcoexistGroup, clustertemplate.constraints.layout.cantcoexist)">Add group</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="">
                  <div class="">
                    <div class="form-group">
                      <label for="inputDefaultServices" class="col-sm-2 control-label">Must coexist</label>
                      <div class="col-sm-8">
                        <button class="btn-spl btn-default add-must-coexist-group" data-toggle="modal" data-target="#must-coexist-modal" data-context="must-coexist">Add must co-exist group</button>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-8">
                        <div class="must-coexist-group">
                            <div class="coexist-group" ng-repeat="item in clustertemplate.constraints.layout.mustcoexist">
                              <span class="group-delete mid-btn glyphicon glyphicon-remove btn  right-float" ng-click="removeEntry(item, clustertemplate.constraints.layout.mustcoexist)"></span>
                              <div class="clearfix"></div>
                              <div class="form-control" ng-repeat="entry in item">
                                <span class="service-name must-coexist-entry">[[entry]]</span>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAllowedServices" class="col-sm-2 control-label">Can't coexist</label>
                      <div class="col-sm-8">
                        <button class="btn-spl btn-default add-cant-coexist-group" data-toggle="modal" data-target="#cant-coexist-modal" data-context="cant-coexist">Add can't co-exist group</button>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-8">
                        <div class=" cant-coexist-group">
                            <div class="coexist-group" ng-repeat="item in clustertemplate.constraints.layout.cantcoexist">
                              <span class="group-delete mid-btn glyphicon glyphicon-remove btn  right-float" ng-click="removeEntry(item, clustertemplate.constraints.layout.cantcoexist)"></span>
                              <div class="clearfix"></div>
                              <div class="form-control" ng-repeat="entry in item">
                                <span class="service-name cant-coexist-entry">[[entry]]</span>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <h4>Service</h4>
                <br />
                <!-- Service constraint modal -->
                <div class="modal fade" id="service-constraint-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add service constraint</h4>
                      </div>
                      <div class="modal-body">
                        <div class="padded-interior">
                          <div class="pull-right">
                            <button type="button" ng-click="clearServiceConstraintForm()" class="btn-spl btn-default">Clear</button>
                          </div>
                          <div style="clear:both"></div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Service name</label>
                            <div class="col-sm-4">
                              <select class="form-control service-select" name="service-name" id="service-name" ng-model="currentConstraints.serviceGroup.name" ng-options="item for item in services">
                                 <option selected="selected"></option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Hardware type</label>
                            <div class="col-sm-4">
                              <select class="form-control hardwaretype-select" ng-model="currentConstraints.serviceGroup.currentHardwareType" ng-options="item for item in hardwaretypes">
                                 <option selected="selected"></option>
                              </select>
                            </div>
                            <div class="col-sm-4">
                              <button type="button" class="btn-spl btn-default add-hardwaretype-btn" ng-click="addEntry(currentConstraints.serviceGroup.currentHardwareType, currentConstraints.serviceGroup.hardwaretypes)">Add</button>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                              <div class="form-control" ng-repeat="item in currentConstraints.serviceGroup.hardwaretypes">
                                <span class="hardwaretype-name">[[item]]</span>
                                <span class="service-delete pointer-cursor right-float glyphicon glyphicon-minus" ng-click="removeEntry(item, currentConstraints.serviceGroup.hardwaretypes)"></span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Image type</label>
                            <div class="col-sm-4">
                              <select class="form-control imagetype-select" ng-model="currentConstraints.serviceGroup.currentImageType" ng-options="item for item in imagetypes">
                                 <option selected="selected"></option>
                              </select>
                            </div>
                            <div class="col-sm-4">
                              <button type="button" class="btn-spl btn-default add-imagetype-btn" ng-click="addEntry(currentConstraints.serviceGroup.currentImageType, currentConstraints.serviceGroup.imagetypes)">Add</button>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                              <div class="form-control" ng-repeat="item in currentConstraints.serviceGroup.imagetypes">
                                <span class="hardwaretype-name">[[item]]</span>
                                <span class="service-delete pointer-cursor right-float glyphicon glyphicon-minus" ng-click="removeEntry(item, currentConstraints.serviceGroup.imagetypes)"></span>
                              </div>
                            </div>
                          </div>
                          <h4>Quantities</h4>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Min</label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control constraint-min" ng-model="currentConstraints.serviceGroup.min" id="quantityMin" name="quantityMin" placeholder="Min">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Max</label>
                            <div class="col-sm-4">
                              <input type="text" class="form-control constraint-max" ng-model="currentConstraints.serviceGroup.max" id="quantityMax" placeholder="Max">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn-spl btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn-spl btn-info inline-display add-service-constraint-btn" data-context="service-constraint" data-dismiss="modal" ng-click="addServiceConstraint()">Add service constraint</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-8">
                    <button class="btn-spl btn-default add-serviceconstraint-modal" data-toggle="modal" data-target="#service-constraint-modal">Add service constraint</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 service-constraint-entries">
                    <table class="table table-striped table-main tablesorter spl-table">
                      <thead>
                        <th style="width: 25%">Name</th>
                        <th style="width: 25%">Hardware type</th>
                        <th style="width: 25%">Image type</th>
                        <th style="width: 10%">Min</th>
                        <th style="width: 10%">Max</th>
                        <th class="no-sort"></th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="(name,item) in clustertemplate.constraints.services">
                          <td style="width: 25%">
                            <select class="form-control" name="service-name" ng-model="name" ng-options="item for item in services" disabled>
                            </select>
                          </td>
                          <td style="width: 25%">
                            <div class="pull-left">
                              <select class="form-control" name="service-hardwaretype" ng-model="item.currentHardwareType" ng-options="item for item in hardwaretypes"></select>
                            </div>
                            <div class="pull-left left-sm-margin">
                              <button type="button" class="btn-spl btn-default" ng-click="addEntry(item.currentHardwareType, clustertemplate.constraints.services[name].hardwaretypes)">+</button>
                            </div>
                            <div style="clear:both"></div>
                            <div class="form-control" ng-repeat="item in clustertemplate.constraints.services[name].hardwaretypes">
                              <span class="hardwaretype-name">[[item]]</span>
                              <span class="service-delete pointer-cursor right-float glyphicon glyphicon-minus" ng-click="removeEntry(item, clustertemplate.constraints.services[name].hardwaretypes)"></span>
                            </div>
                          </td>
                          <td style="width: 25%">
                            <div class="pull-left">
                              <select class="form-control" name="service-imagetype" ng-model="item.currentImageType" ng-options="item for item in imagetypes"></select>
                            </div>
                            <div class="pull-left left-sm-margin">
                              <button type="button" class="btn-spl btn-default" ng-click="addEntry(item.currentImageType, clustertemplate.constraints.services[name].imagetypes)">+</button>
                            </div>
                            <div style="clear:both"></div>
                            <div class="form-control" ng-repeat="item in clustertemplate.constraints.services[name].imagetypes">
                              <span class="hardwaretype-name">[[item]]</span>
                              <span class="service-delete pointer-cursor right-float glyphicon glyphicon-minus" ng-click="removeEntry(item, clustertemplate.constraints.services[name].imagetypes)"></span>
                            </div>
                          </td>
                          <td style="width: 10%"><input class="form-control quantity-min" ng-model="item.quantities.min" /></td>
                          <td style="width: 10%"><input class="form-control quantity-max" ng-model="item.quantities.max" /></td>
                          <td><span class="constraint-delete mid-btn glyphicon glyphicon-remove btn  right-float" ng-click="removeServiceConstraint(name)"></span></td>
                        </tr>
                      </tbody>
                    </table>  
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-8">
                    <div ng-if="notification" class="alert alert-danger">[[notification]]</div>
                    <br />
                    <button type="button" class="btn-spl btn-default next-tab-button" ng-click="nextTab()">Next</button>
                    <button type="submit" class="btn-spl btn-info">
                      {% if clustertemplateId %}
                        Save
                      {% else %}
                        Create
                      {% endif %}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
        
      </div>
    </div>
  </div>
<script data-main="/static/js/createclustertemplate" src="/static/third_party/require.js"></script>
{% endblock %}
