<ul>
  <li><a class="nav-link nav-dash" id="nav-overview" href="/clustertemplates">Home</a></li>
  <li>
    <div class="dropdown">
      <a data-toggle="dropdown" href="#">Templates<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% for item in clustertemplates %}
          <li><a class="list-types" href="/clustertemplates/clustertemplate/{{item.name}}">{{ item.name }}</a></li>
        {% endfor %}
        {% if not clustertemplates or not clustertemplates.length %}
          <li><a>No cluster templates</a></li>
        {% endif %}
      </ul>
    </div>
  </li>
  <li><a class="nav-link nav-dash" id="nav-overview" href="/clustertemplates/create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create a template</a></li>
  {% include "partials/menu-login-item.html" %}
</ul>
