<div class="coopr-control-group am-fade-and-slide-right" ng-repeat="(key, value) in model">
  <div class="row">
    <div class="col-xs-5">
      <input type="text" value="{{key}}" class="form-control" readonly />
    </div>
    <div class="col-xs-7">
      <div ng-repeat="field in textFields">

        <div class="input-group">
          <label for="my-ddtc-{{key}}-{{$index}}" class="input-group-addon">
            {{field.placeholder || (field.name | myCapitalizeFilter)}}
          </label>
          <input type="text"
                  id="my-ddtc-{{key}}-{{$index}}"
                  ng-model="value[field.name]"
                  name="{{field.name}}"
                  class="form-control" />

        </div>

      </div>
    </div>
  </div>

  <p class="remove">
    <a href="" class="btn btn-danger btn-xs"
      ng-click="rmAsset(key)"
    >
      <span class="fa fa-trash"></span>
      <span class="sr-only">remove {{assetLabel}}</span>
    </a>
  </p>

</div>

<p class="form-control-static">
  <a href="" class="btn btn-info btn-xs"
    bs-dropdown="dropdownValues"
    ng-disabled="!dropdownValues.length"
  >
    <span class="fa fa-plus"></span>
    Add {{assetLabel}}
  </a>
</p>
