<!--<ul>-->
  <!--<li><a class="nav-link nav-dash btn-spl btn-default secondary-nav-home" href="/admin/nodes">Home</a></li>-->
  <!--<li>-->
    <!--<div class="dropdown">-->
      <!--<a data-toggle="dropdown" class="btn-spl btn-default nav-dash secondary-nav-dropdown" href="#">Actions <span class="caret"></span></a>-->
      <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
        <!--<li><a class="list-types">Start</a></li>-->
        <!--<li><a class="list-types">Stop</a></li>-->
        <!--<li><a class="list-types">Restart</a></li>-->
        <!--{% for item in nodes %}-->
        <!--{% if item.status !== 'TERMINATED' %}-->
        <!--<li><a class="list-types" href="/user/nodes/node/{{item.id}}">{{ item.name }}</a></li>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--{% if not nodes or not nodes.length %}-->
        <!--<li><a>No Nodes</a></li>-->
        <!--{% endif %}-->
      <!--</ul>-->
    <!--</div>-->
  <!--</li>-->
  <!--<li><a class="nav-link nav-dash btn-spl btn-default secondary-nav-create" id="nav-overview" href="/user/nodes/create">Create</a></li>-->
<!--</ul>-->
