<ul>
  <li><a class="nav-link nav-dash" id="nav-overview" href="/imagetypes">Home</a></li>
  <li>
    <div class="dropdown">
      <a data-toggle="dropdown" href="#">Image types <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% for item in imagetypes %}
          <li><a class="list-types" href="/imagetypes/imagetype/{{item.name}}">{{ item.name }}</a></li>
        {% endfor %}
        {% if not imagetypes or not imagetypes.length %}
          <li><a>No image types</a></li>
        {% endif %}
      </ul>
    </div>
  </li>
  <li><a class="nav-link nav-dash" id="nav-overview" href="/imagetypes/create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create an image type</a></li>
  {% include "partials/menu-login-item.html" %}
</ul>
