<div id="panels">
  <div class="panel spl-panel" style="clear: both;">

    <div class="panel-body spl-panel-body" id="active-clusters">
      {% if clusters and clusters.length %}
        <table class="table table-striped tablesorter spl-panel-table">
          <thead>
            <tr>
              <th class="col-name">Name</th>
              {% if authenticated.id === 'admin' %}
              <th class="col-user">User</th>
              {% endif %}
              <th class="col-id">Id</th>
              <th class="col-created">Create Time</th>
              <th class="col-template">Template</th>
              <th class="col-nodes">Nodes</th>
              <th class="cluster-step">Progress</th>
              <th class="no-sort"></th>
              <th class="cluster-status">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in clusters %}
              {% if entry.status !== 'terminated' %}
                <tr id="{{entry.id}}" class="cluster-entry">
                  <td class="cluster-name"><a href="/user/clusters/cluster/{{entry.id}}">{{ entry.name }}</a></td>
                  {% if authenticated.id === 'admin' %}
                  <td>{{entry.ownerId}}</td>
                  {% endif %}
                  <td class="cluster-hash">{{ entry.id }}</td>
                  <td class="cluster-createtime">{{ entry.createTime }}</td>
                  <td class="cluster-template">{{ entry.clusterTemplate.name }}</td>
                  <td class="cluster-nodes">{{ entry.numNodes }}</td>
                  <td class="cluster-step">
                    <span class="cluster-progress">Retrieving...</span>
                  </td>
                  <td style="width: 100px">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      </div>
                    </div>
                  </td>
                  <td class="cluster-status">Retrieving...</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>

        </table>
        {% else %}
          <p>You haven't configured any clusters.</p>
      {% endif %}
    </div>
  </div>
  {% if deletedClusters %}
  <div class="panel spl-panel" style="clear: both;">
    <div class="panel-head spl-panel-head full-width">
      <div class="smallmargin-nodes-showhide left-float toggle-delete-cluster"></div>
      <div class="panel-title delete-cluster-header">
        <h3>Inactive clusters ({{ deletedClusters }})</h3>
      </div>
    </div>
    <div class="panel-body spl-panel-body" id="deleted-clusters">
        <table class="table table-striped tablesorter spl-panel-table">
          <thead>
            <tr>
              <th class="col-name">Name</th>
              {% if authenticated.id === 'admin' %}
              <th class="col-user">User</th>
              {% endif %}
              <th class="col-id">Id</th>
              <th class="col-created">Create Time</th>
              <th class="col-template">Template</th>
              <th class="col-nodes">Nodes</th>
              <th class="cluster-step">Progress</th>
              <th class="no-sort"></th>
              <th class="cluster-status">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in clusters %}
              {% if entry.status === 'terminated' %}
                <tr id="{{entry.id}}" class="cluster-entry">
                  <td class="cluster-name"><a href="/user/clusters/cluster/{{entry.id}}">{{ entry.name }}</a></td>
                  {% if authenticated.id === 'admin' %}
                  <td>{{entry.ownerId}}</td>
                  {% endif %}
                  <td class="cluster-hash">{{ entry.id }}</td>
                  <td class="cluster-createtime">{{ entry.createTime }}</td>
                  <td class="cluster-template">{{ entry.clusterTemplate.name }}</td>
                  <td class="cluster-nodes">{{ entry.numNodes }}</td>
                  <td class="cluster-step">
                    <span class="cluster-progress">Retrieving...</span>
                  </td>
                  <td style="width: 100px">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                      </div>
                    </div>
                  </td>
                  <td class="cluster-status">Retrieving...</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  {% endif %}
</div>
