{% extends "user/index.html" %}
{% block headscript %}
<script src="/static/third_party/angular/angular.min.js" type="text/javascript"></script>
<script src="/static/third_party/angular/angular-sanitize.min.js" type="text/javascript"></script>
<script src="/static/js/user/describecluster.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div id="content-body">
      <div id="title">
        <div class="pull-right">
          <div id="global">
            {% include "user/clusters/topmenu.html" %}
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <div ng-app="clusterview">
      <div id="content-body" ng-controller="ClusterCtrl">
        <div id="title"></div>

        <div id="panels">
          <div class="panel spl-panel" style="clear: both;">
            <div class="panel-head spl-panel-head clearfix">
              <div class="panel-title spl-panel-title">
                <h3 class="pull-left" style="width: 75%">Cluster description: [[ cluster.name ]]</h3>
                <div class="pull-right">
                  <form role="form" method="POST" ng-submit="deleteCluster($event)" action = "[[ '/user/clusters/delete/' + cluster.id ]]" class="cluster-delete-form">
                    <input type="hidden" value="[[cluster.id]]" name="name" />
                    <a href="/user/clusters/cluster/[[cluster.id]]/reconfigure" class="btn-spl btn-info" ng-show="cluster.status !== 'DELETED'" id="reconfigure-cluster-link">Reconfigure</a>
                    <button type="submit" class="btn-spl btn-delete" ng-show="cluster.status !== 'DELETED'"></button>
                  </form>
                </div>
              </div>
            </div>
            <div class="panel-body spl-panel-body">
              <table class="table table-striped spl-panel-table">
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>[[cluster.name]]</td>
                  </tr>
                  <tr>
                    <td>Id</td>
                    <td class="cluster-id" id="{{clusterId}}">{{clusterId}}</td>
                  </tr>
                  <tr>
                    <td>Creation time:</td>
                    <td>[[cluster.creationTime]]</td>
                  </tr>
                  <tr>
                    <td>Expiry time:</td>
                    <td>
                      <span ng-if="cluster.expireTime !== 0">[[cluster.expireTimeStr]]</span>
                      <span ng-if="cluster.expireTime === 0">Never</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Progress</td>
                    <td ng-controller="ClusterProgressCtrl">
                      <div class="row cluster-step no-margin">
                        <span>[[status.progressPercent]]<span ng-if="!isNaN(status.progressPercent)">%</span></span>
                      </div>
                      <div class="row no-margin">
                        <div class="progress col-sm-8 no-pad">
                          <div class="progress-bar [[status.class]]" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: [[status.progressPercent]]%;">
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <span ng-if="status.progressPercent !== '100'" class="btn-spl btn-danger" ng-click="abort()">Abort</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr ng-controller="ClusterProgressCtrl">
                    <td>Status</td>
                    <td class="cluster-status [[status.class]]">
                      [[ status.action ]] 
                      <span class="lowercasify">[[status.statusText]]</span>
                      <span ng-if="cluster.message"> - [[cluster.message]]</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Provider</td>
                    <td>[[cluster.provider.name]]</td>
                  </tr>
                  <tr>
                    <td>Template name</td>
                    <td>[[cluster.clusterTemplate.name]]</td>
                  </tr>
                  <tr>
                    <td>Template description</td>
                    <td>[[cluster.clusterTemplate.description]]</td>
                  </tr>
                  <tr ng-if="cluster.expireTime !== 0">
                    <td>Extend lease</td>
                    <td>
                      <table>
                        <thead>
                          <tr>
                            <th>Days</th>
                            <th>Hours</th>
                            <th>Minutes</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><input type="text" class="number-input" ng-model="leaseDuration.step.days" /></td>
                            <td><input type="text" class="number-input" ng-model="leaseDuration.step.hours" /></td>
                            <td><input type="text" class="number-input" ng-model="leaseDuration.step.minutes" /></td>
                            <td><button type="button" class="btn-spl btn-info" ng-click="submitExtension()">Extend</button></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="small-font text-light" style="padding-left: 10px;" ng-if="cluster.clusterTemplate.administration.leaseduration.step === 0">You can extend your lease by any amount of time.</div>
                      <div class="small-font text-light" ng-class="{'text-danger': extendLeaseInvalid}" style="padding-left: 10px;" ng-if="cluster.clusterTemplate.administration.leaseduration.step">Max lease extension time is 
                        [[maxLeaseStr]].
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>All services</td>
                    <td>
                      <div class="form-group">
                        <div class="row" ng-repeat="service in cluster.services">
                          <div class="col-sm-4">
                            <div class="form-control">
                              <span class="service-name default-service-entry ng-binding">[[service]]</span>
                            </div>
                          </div>
                          <div class="col-sm-6">
                              <button type="button" class="btn-spl btn-success" ng-click="startService(service)"><span class="glyphicon glyphicon-play"></span></button>
                              <button type="button" class="btn-spl btn-danger" ng-click="stopService(service)"><span class="glyphicon glyphicon-stop"></span></button>
                              <button type="button" class="btn-spl btn-info" ng-click="restartService(service)"><span class="glyphicon glyphicon-repeat"></span></button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Add services</td>
                    <td>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-4">
                            <select class="form-control" ng-model="curRemainingService" ng-options="service for service in remainingServices"></select>
                          </div>
                          <div class="col-sm-4">
                              <button type="button" class="btn-spl btn-default" ng-click="addServiceToRemaining()">Add</button>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-control" ng-repeat="item in servicesToAdd">
                              <span class="service-name default-service-entry ng-binding">[[item]]</span>
                              <span class="service-delete pointer-cursor right-float glyphicon glyphicon-minus" ng-click="removeEntry(item, servicesToAdd)"></span>
                            </div>
                          </div>
                        </div>
                        <br />
                        <div class="row" ng-if="servicesToAdd.length">
                          <div class="col-sm-4">
                            <button type="button" ng-click="submitServicesToAdd()" class="btn-spl btn-info">Submit</button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br />
              <h4>Service sets </h4>
              <br />
              <p ng-hide="checkIfEmpty(serviceSets)">No service sets.</p>
              <div ng-repeat="(name, nodes) in serviceSets" class="serviceset-entry">
                <div class="service-holder">
                  <div class="serviceset-name alert" ng-hide="serviceDisplayMapping[name]" ng-click="toggleNodes(name)"><span class="caret large left-float"></span>[[name]] ([[nodes.length]])</div>
                  <div class="serviceset-name alert" ng-show="serviceDisplayMapping[name]" ng-click="toggleNodes(name)"><span class="open caret large left-float"></span>[[name]] ([[nodes.length]])</div>
                  <table class="table table-striped tablesorter serviceset-node-table spl-panel-table" ng-show="serviceDisplayMapping[name]">
                    <thead>
                      <tr>
                        <th>Hostname</th>
                        <th>Id</th>
                        <th>Actions</th>
                        <th>Ip</th>
                        <th>User</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>Logs</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="node in nodes" class="node-entry">
                        <td>[[node.properties.hostname]]</td>
                        <td>[[node.id]]</td>
                        <td>
                          <!-- Node actions modal -->
                          <div class="modal fade" id="[[node.id]]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-(hidden="true">
                            <div class="modal-dialog large-modal">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title" id="myModalLabel">[[node.id]] - Actions</h4>
                                </div>
                                <div class="modal-body">
                                  <table class="table table-striped node-actions-table spl-panel-table">
                                    <thead>
                                      <tr>
                                        <th>Action</th>
                                        <th>Service</th>
                                        <th>Start Time</th>
                                        <th>Duration</th>
                                        <th>Status</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="item in node.actions">
                                        <td class="small-cell">[[item.action]]</td>
                                        <td class="small-cell">[[item.service]]</td>
                                        <td class="small-cell">[[item.submitTime|prettifyTimestamp]]</td>
                                        <td class="small-cell">[[(item.statusTime - item.submitTime)|stringifyTime]]</td>
                                        <td ng-class="{'text-danger': 'failed' == item.status, 'text-success': 'complete' == item.status}" class="small-cell">[[item.status]]</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn-spl btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                          <button type="button" class="btn-spl btn-default small-font" data-toggle="modal" data-target="#[[node.id]]">Show actions</button>
                        </td>
                        <td>[[node.properties.ipaddress]]</td>
                        <td>[[node.properties['ssh-auth'].user]]</td>
                        <td>[[node.properties['ssh-auth'].password]]</td>
                        <td ng-class="{'text-danger': 'failed' == node.actions[node.actions.length -1].status, 'text-success': 'complete' == node.actions[node.actions.length -1].status}"><span class="lowercasify">[[node.actions[node.actions.length -1].action]]</span> [[node.actions[node.actions.length -1].status]]</td>
                        <td>
                          <button type="button" class="btn btn-default small-font" ng-if="node.actions[node.actions.length -1].stderr || node.actions[node.actions.length -1].stdout" ng-hide="nodeDisplayMapping[node.id]" ng-click="toggleLogs(node.id)">Show logs</button>
                          <button type="button" class="btn btn-default small-font" ng-if="node.actions[node.actions.length -1].stderr || node.actions[node.actions.length -1].stdout" ng-show="nodeDisplayMapping[node.id]" ng-click="toggleLogs(node.id)">Hide logs</button>
                          <div class="serviceset-node-logs" ng-show="nodeDisplayMapping[node.id]">
                            <div ng-bind-html="node.actions[node.actions.length -1].stderr|linebreaksbr">
                              [[node.actions[node.actions.length -1].stderr|linebreaksbr]]
                            </div>
                          </div>
                          <div class="serviceset-node-logs" ng-show="nodeDisplayMapping[node.id]">
                            <div ng-bind-html="node.actions[node.actions.length -1].stdout|linebreaksbr">
                              [[node.actions[node.actions.length -1].stdout|linebreaksbr]]
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
