<ul>
  <li><a class="nav-link nav-dash" id="nav-overview" href="/user/clusters">Home</a></li>
  <li>
    <div class="dropdown">
      <a data-toggle="dropdown" href="#">Clusters <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% for item in clusters %}
          {% if item.status === 'ACTIVE' %}
            <li><a class="list-types" href="/user/clusters/cluster/{{item.id}}">{{ item.name }}</a></li>
          {% endif %}
        {% endfor %}
        {% if not clusters or not clusters.length %}
          <li><a>No clusters</a></li>
        {% endif %}
      </ul>
    </div>
  </li>
  <li><a class="nav-link nav-dash" id="nav-overview" href="/user/clusters/create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create a cluster</a></li>
  {% include "partials/menu-login-item.html" %}
</ul>
