{% extends 'index.html' %}

{% block title %}Page not found{% endblock %}

{% block header %}
    {% include "page-header.html" %}
{% endblock %}

{% block content %}
    <div id="header">
      <div id="global">
      </div>
    </div>
    <div id="content-body">
      <div id="title">
        <h1>404</h1>
      </div>

      <div id="panels">

        <div class="panel" style="clear: both;">
          <div class="panel-head">
            <div class="panel-title">Sorry, the page you requested was not found.</div>
          </div>
          <div class="panel-body">
            <p>Please check the URL and try again or navigate to your desired page.</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
