{% extends 'index.html' %}

{% block title %}Error{% endblock %}

{% block header %}
    {% include "page-header.html" %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="light-blue">
        <div class="wrapper clearfix">
                <div class="page-title-full">
                    <h1>500</h1>
                </div>
        </div>
    </div>

    <div class="wrapper" style="padding-bottom: 8px;">
      <div class="big-data-apps-selected contact-send-a-message">
        <h1>Sorry, there was an error while processing your request..</h1>
        <div style="text-align: center;padding-right: 100px;padding-bottom: 32px;">
            Please try again shortly.
        </div>
        </div>
    </div>

</div>
{% endblock %}
