 <div class="form-group" ng-repeat="(name,fieldData) in fieldsconfig.fields">
  <label class="col-xs-2 control-label">{{fieldData.label}}</label>
  
  <div class="col-xs-10">

    <input type="checkbox" id="field-{{$index}}" 
      title="{{fieldData.tip}}"
      ng-model="model[name]"
      ng-if="fieldData.type=='checkbox'"
      ng-disabled="overrideenabled && !fieldData.override"
      ng-required="required[name]"/>

    <input class="form-control" id="field-{{$index}}" 
      type="{{fieldData.type}}" 
      placeholder="{{fieldData.tip}}" 
      ng-if="fieldData.type === 'text' || fieldData.type == 'password'" 
      ng-model="model[name]"
      ng-disabled="overrideenabled && !fieldData.override"
      ng-required="required[name]" />

    <select id="field-{{$index}}" 
      class="form-control"
      title="{{fieldData.tip}}"
      ng-model="model[name]"
      ng-options="region as region for region in fieldData.options"
      ng-if="fieldData.type === 'select'"
      ng-required="required[name]"
      ng-disabled="overrideenabled && !fieldData.override">
    </select>
  
  </div>
</div>