<div class="form-group">
  <label for="inputTemplateSizeMin" class="col-xs-2 control-label">
    Size
  </label>
  <div class="col-xs-3">
    <div class="input-group">
      <label for="inputTemplateSizeMin" class="input-group-addon">
        Minimum
      </label>
      <input id="inputTemplateSizeMin" class="form-control" type="number" 
        ng-model="model.constraints.size.min"
        ng-pattern="/^\d+$/"
        min="0" max="{{model.constraints.size.max}}" required/>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="input-group">
      <label for="inputTemplateSizeMax"class="input-group-addon">
        Maximum
      </label>
      <input id="inputTemplateSizeMax" class="form-control" type="number" 
        ng-model="model.constraints.size.max"
        ng-pattern="/^\d+$/"
        min="{{model.constraints.size.min}}" max="2147483647" required/>
    </div>
  </div>
</div>

<hr />

<div class="form-group">
  <label class="col-xs-2 control-label">
    Must co-exist
  </label>
  <div class="col-xs-10">

    <div ng-repeat="group in model.constraints.layout.mustcoexist" class="coopr-constraint-group am-fade-and-slide-right">

      <p class="pull-right form-control-static">
        <a href="" class="btn btn-danger btn-xs" 
          ng-click="model.constraints.layout.mustcoexist.splice($index, 1)"
        >
          <span class="fa fa-trash"></span>
          <span class="sr-only">Remove group</span>
        </a>
      </p>

      <my-service-picker
        data-model="group"
        data-allow-rm="true"
        data-available="model.compatibility.services"
      ></my-service-picker>

    </div>

    <p class="form-control-static">
      <a href="" class="btn btn-info btn-xs" 
        ng-click="model.constraints.layout.mustcoexist.push([])"
      >
        <span class="fa fa-plus"></span>
        Add <em>Must co-exist</em> group
      </a>
    </p>

  </div>
</div>

<hr />

<div class="form-group">
  <label class="col-xs-2 control-label">
    Can't co-exist
  </label>
  <div class="col-xs-10">

    <div ng-repeat="group in model.constraints.layout.cantcoexist" class="coopr-constraint-group am-fade-and-slide-right">

      <p class="pull-right form-control-static">
        <a href="" class="btn btn-danger btn-xs" 
          ng-click="model.constraints.layout.cantcoexist.splice($index, 1)"
        >
          <span class="fa fa-trash"></span>
          <span class="sr-only">Remove group</span>
        </a>
      </p>

      <my-service-picker
        data-model="group"
        data-allow-rm="true"
        data-available="model.compatibility.services"
      ></my-service-picker>

    </div>

    <p class="form-control-static">
      <a href="" class="btn btn-info btn-xs" 
        ng-click="model.constraints.layout.cantcoexist.push([])"
      >
        <span class="fa fa-plus"></span>
        Add <em>Can't co-exist</em> group
      </a>
    </p>

  </div>
</div>



<hr />

<div class="form-group">
  <label class="col-xs-2 control-label">
    Service Constraints
  </label>
  <div class="col-xs-10">


    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>service</th>
            <th>hardware</th>
            <th>image</th>
            <th colspan="2">quantities</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(name,item) in model.constraints.services">

            <td><p class="form-control-static">
              {{name}}
            </p></td>

            <td>
              <my-thing-picker
                data-model="item.hardwaretypes"
                data-allow-rm="true"
                data-available="model.compatibility.hardwaretypes"
                data-thing-name="Hardware Type"
                data-compact-btn="true"
              ></my-thing-picker>
            </td>

            <td>
              <my-thing-picker
                data-model="item.imagetypes"
                data-allow-rm="true"
                data-available="model.compatibility.imagetypes"
                data-thing-name="Image Type"
                data-compact-btn="true"
              ></my-thing-picker>
            </td>

            <td>
              <code>{{item.quantities | json}}</code>
            </td>

            <td width="1" class="text-right">
              <a href="" ng-click="rmServiceConstraint(name)" 
                class="btn btn-danger btn-xs">
                  <span class="fa fa-trash"></span>
                  <span class="sr-only">Remove Constraint</span>
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

    <p class="form-control-static">
      <a href="" class="btn btn-info btn-xs" 
        ng-click="addServiceConstraint()"
      >
        <span class="fa fa-plus"></span>
        Add service constraint
      </a>
    </p>

  </div>
</div>
